# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Database and Keys
passwords.db
key.key

# Flask cache and logs
instance/
*.log

# Packaging
*.egg
*.egg-info/
dist/
build/
*.wheel

# IDE or editor specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
